<template>
  <div class="jsplumb-entity"
       :id="info.id"
       :style="nodeStyle"
       @click="onEntityClick">
    <div class="flow-node-drag jsplumb-entity__head" contenteditable="true">输入标题</div>
    <div class="jsplumb-entity__title">{{ info.name }}</div>
    <div class="jsplumb-entity__body">
      <ul>
        <li>LDM主题英文名称</li>
        <li>表前缀</li>
        <li>LDM客户化描述</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    info: Object,
  },
  computed: {
    nodeStyle () {
      const {left = 0, top = 0, zIndex} = this.info
      return {
        left: `${left}px`,
        top: `${top}px`,
        zIndex
      }
    },
  },
  methods: {
    onEntityClick () {
      this.$emit('componentsClick', this.info)
    }
  },
}
</script>

<style>
.jsplumb-entity {
  min-width: 252px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  background-color: #fff;
  line-height: 30px;
  font-size: 14px;
  box-shadow: 0 0 10px 2px #cecece;
  box-sizing: border-box;
  border: 1px solid #476091;
  font-size: 14px;
  color: #333333;
}

.jsplumb-entity:hover,
.jsplumb-entity:hover .jsplumb-entity__title,
.jsplumb-entity.jtk-source-hover,
.jsplumb-entity.jtk-target-hover {
  border-color: #477DE9;
}

.jsplumb-entity:hover,
.jsplumb-entity.jtk-source-hover,
.jsplumb-entity.jtk-target-hover {
  box-shadow: 0 0 10px 2px #477DE9;
}


.jsplumb-entity__head {
  background-color: #477DE9;
  color: #fff;
  line-height: 28px;
  padding-left: 9px;
}

.jsplumb-entity__title,
.jsplumb-entity__body {
  padding: 0 5px;
  box-sizing: border-box;
  padding-left: 13px;
  cursor: move;
}

.jsplumb-entity__title {
  line-height: 40px;
  border-bottom: 1px solid #476091;
}

.jsplumb-entity__body {
  min-height: 100px;
  line-height: 30px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
