<template>
  <div class="jsplumb-group"
       :id="info.id"
       :style="nodeStyle">
    <div class="jsplumb-entity__point"></div>
  </div>
</template>

<script>
export default {
  props: {
    info: Object,
  },
  computed: {
    nodeStyle () {
      const {left = 0, top = 0, zIndex} = this.info
      return {
        left: `${left}px`,
        top: `${top}px`,
        zIndex
      }
    }
  },
}
</script>

<style>
.jsplumb-group {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  background-image: url('~@/assets/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

</style>
