<template>
  <div class="jsplumb-wrap">
    <!-- drag部分 -->
    <tool-menu ref="toolMenu"
               :activeMenuId="activeMenuId"
               @setActiveMenuId="setActiveMenuId"/>
    <!-- 预览部分 -->
    <jsplumb-preview ref="jsplumbPreview"></jsplumb-preview>
  </div>
</template>

<script>
import ToolMenu from './tool-menu'
import jsplumbPreview from './jsplumb-preview'

export default {
  components: {
    ToolMenu,
    jsplumbPreview,
  },
  data () {
    return {
      index: 1,
      activeMenuId: null,
    }
  },
  methods: {
    setActiveMenuId (menuId) {
      this.activeMenuId = menuId
    },
    addDragNode (evt, menuItem, mousePosition) {
      const {originalEvent, item} = evt
      const {type} = menuItem
      const toolMenuHeight = this.$refs['toolMenu'].$el.clientHeight
      const index = this.index ++
      let {left, top} = mousePosition
      if (left < 0) {
        left = originalEvent.layerX + item.offsetLeft
      }
      if (top < 0) {
        top = evt.originalEvent.clientY - toolMenuHeight
      }
      const node = {
        id: `node_${index}_${menuItem.type}`,
        name: `节点_${index}`,
        left,
        top,
        type,
      }
      const $jsplumbPreview = this.$refs['jsplumbPreview']
      $jsplumbPreview.nodeList.push(node)
      this.$nextTick(() => {
        $jsplumbPreview.setNodeSourceAndTarget(node)
      })
    },
  },
}
</script>

<style>
.jsplumb-wrap {
  position: relative;
}
</style>
