<template>
  <div class="jsplumb-preview"
       id="jsplumb-preview"
       @click.self="onJsPlumbClick">
    <template v-for="item in nodeList">
      <!--动态组件 entity group -->
      <component :is="item.type === 'entity' ? 'jsPlumbEntity' : 'jsPlumbGroup'"
                 :key="item.id"
                 :info="item"
                 @componentsClick="componentsClick(item)"></component>
    </template>
  </div>
</template>
<script>
import {jsPlumb} from 'jsplumb'
import {
  jsPlumbConfig,
  jsPlumbSourceOptions,
  jsPlumbTargetOptions,
  createJsPlumbConnectOptions,
  Anchors} from './jsplumbConfig'
import {nodeList, lineList, menus} from './data'

import jsPlumbEntity from './components/entity'
import jsPlumbGroup from './components/group'

export default {
  components: {
    jsPlumbEntity,
    jsPlumbGroup,
  },
  data () {
    return {
      selMenu: null,
      nodeList,
      lineList,
      jsPlumb: null,
      loadFlowChartFinish: false,
    }
  },
  mounted () {
    this.init()
  },
  methods: {
    componentsClick (node) {
      console.log(node)
    },
    onJsPlumbClick (event) {
      const parent = this.$parent
      if (!parent.activeMenuId) {
        return
      }
      this.selMenu = menus.filter(x => x.id === parent.activeMenuId)[0]
      if (this.selMenu.id === 'entity') {
        const {type} = this.selMenu
        const toolMenuHeight = parent.$refs['toolMenu'].$el.clientHeight
        const index = this.nodeList.length
        const node = {
          id: `${type}_${index}`,
          name: `节点_${index}`,
          left: event.layerX,
          top: event.clientY - toolMenuHeight,
          type
        }
        this.nodeList.push(node)
        this.$nextTick(() => {
          this.setNodeSourceAndTarget(node)
        })
      }
      // console.log(event, this.$parent.activeMenuId, 'activeMenuId')
    },
    init () {
      this.jsPlumb = jsPlumb.getInstance()
      this.$nextTick(() => {
        this.jsPlumbInit()
      })
    },
    jsPlumbInit () {
      const _this = this
      this.jsPlumb.ready(() => {
        _this.jsPlumb.importDefaults(jsPlumbConfig)
        _this.jsPlumb.setSuspendDrawing(false, true)
        _this.loadFlowChart()

        // 单击连接线
        _this.jsPlumb.bind('click', (connection, evt) => {
          const {target} = evt
          let {classList, id} = target
          if (classList.contains('label--default')) { // label 点击  TODO
            // _this.init()
            return
          }
          _this.$confirm('确定删除所点击的线吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            _this.jsPlumb.deleteConnection(connection)
          }).catch(() => {
          })
        })

        // 连线
        _this.jsPlumb.bind('connection', (connection) => {
          const {source, target, sourceEndpoint, targetEndpoint} = connection
          const classNameReg = /jsplumb-(\w+)/
          const sourceType = classNameReg.exec(source.className)[1]
          const targetType = classNameReg.exec(target.className)[1]
          const label = `自定义label${sourceType}_${targetType}_${this.lineList.length}`
          const lineParams = {
            from: source.id,
            to: target.id,
            label,
            type: `${sourceType}-${targetType}`,
            uuids: [sourceEndpoint.getUuid(), targetEndpoint.getUuid()]
          }
          if (_this.loadFlowChartFinish) {
            _this.lineList.push(lineParams)
          }
        })

        // 删除连线
        _this.jsPlumb.bind('connectionDetached', ({sourceId, targetId}) => {
          _this.deleteLine(sourceId, targetId)
        })

        // 是否连钱 return false 或 undefined 新的Connection将被中止并从UI中删除
        _this.jsPlumb.bind('beforeDrop', ({connection}) => {
          const {sourceId, source, target, targetId, endpoints} = connection
          if (_this.hasLine(sourceId, targetId)) {
            _this.$message.error('不能重复连线！')
            return false
          }
          return true
        })

        // 连接器点击
        _this.jsPlumb.bind('connectionDrag', function(connection) {
          console.log(connection.getUuids(), 'connectionDrag')
        })

        _this.jsPlumb.bind('connectionDragStop', function(connection) {
          console.log(connection.getUuids(), 'connectionDragStop')
        })
        _this.jsPlumb.bind('connectionMoved', function() {
          console.log(arguments, 'connectionMoved')
        })
      })
    },
    deleteLine (from, to) {
      this.lineList = this.lineList.filter(x => x.from !== from && x.to !== to)
    },
    hasLine (from, to) {
      return this.lineList.filter(x => x.from === from && x.to === to).length > 0
    },
    loadFlowChart () {
      // 节点
      this.nodeList.map(x => {
        this.setNodeSourceAndTarget(x)
      })
      // 初始化线
      this.lineList.map(x => {
        const c = this.jsPlumb.connect({
          uuids: x.uuids
        }) // , createJsPlumbConnectOptions(x, this)
      })
      this.$nextTick(() => {
        this.loadFlowChartFinish = true
      })
      // console.log(this.jsPlumb.getConnections(), 10)
    },
    // 设置节点为source 和 target
    setNodeSourceAndTarget (node) {
      const {type, id} = node
      if (type === 'entity') {
        Anchors.map(a => {
          // 创建端点
          this.jsPlumb.addEndpoint(id, {
            anchors: a,
            uuid: `${id}_${a}`,
            isSource: true,
            isTarget: true,
            maxConnections: -1,
          })
        })
      }
      this.jsPlumb.makeSource(id, jsPlumbSourceOptions)
      this.jsPlumb.makeTarget(id, jsPlumbTargetOptions)
      // 节点可拖动
      this.jsPlumb.draggable(id, {
        containment: 'parent',
        grid: [10, 10],
      })
    },
  },
}
</script>
<style>

.jsplumb-preview {
  border: 1px solid #cacaca;
  box-sizing: border-box;
  position: relative;
  height: calc(100vh - 36px);
  padding: 5px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%), linear-gradient(rgba(0, 0, 0, 0.15) 10%, rgba(0, 0, 0, 0) 10%);
  background-size: 10px 10px;
  cursor: cell;
}

.overlays--default {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-image: url('~@/assets/images/logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.overlays__target {
  width: 1px;
  height: 16px;
  background-color: #10151F;
}
.overlays__end {
  width: 19px;
  height: 22px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('~@/assets/images/lines/end.svg');
  transform: rotate(-90deg) translate(60%, -50%) !important;
  background-color: #fff;
}

.overlays__end.jtk-hover {
  background-image: url('~@/assets/images/lines/end-hover.svg')
}

.overlays__target.jtk-hover {
  background-color: #4478E0;
}

.jtk-connector,
.jtk-connector.jtk-hover {
  cursor: pointer;
}

.label--default {
  color: #434343;
  font-size: 12px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 2px 10px;
  cursor: pointer;
}

.label--default.jtk-hover {
  border-color: #4478E0;
  background-color: #4478E0;
  color: #fff;
}

.input--default {
  border: none;
  outline: none;
  min-width: 30px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

</style>
