<template>
  <ul class="tool-menu">
    <li v-for="item in menus"
        :key="item.id"
        :id="item.id"
        :title="item.name"
        :class="{'is-active': activeMenuId === item.id}"
        @click="selActive(item)"></li>
  </ul>
</template>

<script>
// const mousePosition = {
//     left: -1,
//     top: -1
// }

import {menus} from './data'

export default {
  props: {
    activeMenuId: String,
  },
  data () {
    return {
      draggableOptions: {
        preventOnFilter: false,
      },
      name: '测试页面',
      menus,
      // activeMenu: {id: 'entity', name: '实体', type: 'entity'}, // 选中菜单
    }
  },
  // created() {
  //     /**
  //      * 以下是为了解决在火狐浏览器上推拽时弹出tab页到搜索问题
  //      * @param event
  //      */
  //     if (this.isFirefox()) {
  //         document.body.ondrop = function (event) {
  //             // 解决火狐浏览器无法获取鼠标拖拽结束的坐标问题
  //             mousePosition.left = event.layerX
  //             mousePosition.top = event.clientY - 50
  //             event.preventDefault();
  //             event.stopPropagation();
  //         }
  //     }
  // },
  methods: {
    selActive (item) {
      this.$emit('setActiveMenuId', item.id)
    },
    // onItemChoose({item: {id}}) {
    //   this.MenuItem = this.list.filter(x => x.id === id)[0]
    // },
    // onItemEnd(evt) {
    //   this.$emit('addDragNode', evt, this.MenuItem, mousePosition)
    // },
    // 是否是火狐浏览器
    // isFirefox() {
    //     var userAgent = navigator.userAgent
    //     if (userAgent.indexOf("Firefox") > -1) {
    //         return true
    //     }
    //     return false
    // },
  },
}
</script>
<style >
.tool-menu {
  background-color: #2C3E64;
}
.tool-menu li {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  margin-right: 23px;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tool-menu li.is-active {
  background-color: #000;
}

.tool-menu li[id=entity] {
  background-image: url('~@/assets/images/menu/entity.svg')
}
.tool-menu li[id=line1],
.tool-menu li[id=line2] {
  background-image: url('~@/assets/images/menu/line.svg')
}
.tool-menu li[id=group] {
  background-image: url('~@/assets/images/menu/group.svg')
}

.tool-menu {
  line-height: 36px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.tool-menu li:hover {
  opacity: 1;
}

</style>
