<template>
    <flow-panel></flow-panel>
</template>

<script>
    import FlowPanel from '@/components/flow/panel'

    export default {
        name: 'App',
        components: {
            FlowPanel
        }
    }
</script>
